@model WebClientMVC.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10" id="Id">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10" id="Title">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10" id="Author">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10" id="Price">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <button id="more-btn" class="form-control" onclick="jsAjax()"> Next book </button>
</div>
<script>
    function jsAjax() {
        let id = document.getElementById("Id");
        let title = document.getElementById("Title");
        let author = document.getElementById("Author");
        let price = document.getElementById("Price");
        let url = '@Url.Action("Next")' + '/' + id.innerHTML;
        fetch(url)
            .then(res => res.json())
            .then((out) => {
                id.innerHTML = out['Id'];
                title.innerHTML = out['Title'];
                author.innerHTML = out['Author'];
                price.innerHTML = out['Price'];
            }).catch(err => console.error(err));
    }
</script>
