@model WebClientMVC.Models.Cat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10" id="Id">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10" id="Name">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class="col-sm-10" id="Breed">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10" id="Age">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10" id="Sex">
            @Html.DisplayFor(model => model.Sex)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <button id="more-btn" class="form-control" onclick="jsAjax()"> Next cat </button>
</div>
<script>
    function jsAjax() {
        let id = document.getElementById("Id");
        let name = document.getElementById("Name");
        let breed = document.getElementById("Breed");
        let age = document.getElementById("Age");
        let sex = document.getElementById("Sex");
        let url = '@Url.Action("Next")' + '/' + id.innerHTML;
        fetch(url)
            .then(res => res.json())
            .then((out) => {
                id.innerHTML = out['Id'];
                name.innerHTML = out['Name'];
                breed.innerHTML = out['Breed'];
                age.innerHTML = out['Age'];
                sex.innerHTML = out['Sex'];
            }).catch(err => console.error(err));
    }
</script>